<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>All users</title>
  <style>
    TABLE {
      border: 3px solid grey;
      width: 300px;
      border-collapse: collapse;
    }
    TD, TH {
      padding: 4px;
      border: 1px solid darkred;
    }
    TH {
      background-color: #6BFF33;
    }
  </style>
</head>
<body>

<div th:each="user : ${listUsers}">
  <a th:href="@{/users/{id}(id=${user.getId()})}" th:text="${user.getName()}" >someUser</a>
</div>

<table>


  <caption>Table of users</caption>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Surname</th>
    <th>Age</th>
    <th>Email</th>
  </tr>

  <tr th:each="user : ${listUsers}">
    <td th:utext="${user.id}"></td>
    <td th:utext="${user.name}"></td>
    <td th:utext="${user.surname}"></td>
    <td th:utext="${user.age}"></td>
    <td th:utext="${user.email}"></td>
  </tr>

</table>
<br/>
<hr/>
<form th:method="GET" th:action="@{/users/new}" >
  <input type="submit" value="Create new User!"/>
</form>

</body>
</html>