<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Personal user page</title>
</head>
<body>
<!--<p th:text="${user.getName()}">VALUE</p>-->
<!--<p th:text="${user.getSurname()}">VALUE</p>-->
<!--<p th:text="${user.getId()}">VALUE</p>-->

<br/>
<table border>

  <caption>User</caption>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Surname</th>
  </tr>

  <tr>
    <td th:utext="${user.getId()}"></td>
    <td th:utext="${user.getName()}"></td>
    <td th:utext="${user.getSurname()}"></td>
  </tr>

</table>

<form th:method="GET" th:action="@{/users}" >
  <br/>
  <input type="submit" value="Return to All Users"/>
</form>
</body>
</html>