<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Personal user page</title>


    <style>
        TABLE {
            border: 3px solid grey;
            width: 300px;
            border-collapse: collapse;
        }

        TD, TH {
            padding: 4px;
            border: 1px solid darkred;
        }

        TH {
            background: #6BFF33;
        }
    </style>
</head>
<body>

<br/>
<table>
    <caption>User</caption>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
        <th>Email</th>
    </tr>

    <tr>
        <td th:utext="${user.getId()}"></td>
        <td th:utext="${user.getName()}"></td>
        <td th:utext="${user.getSurname()}"></td>
        <td th:utext="${user.getAge()}"></td>
        <td th:utext="${user.getEmail()}"></td>
    </tr>

</table>
<br/>
<form th:method="GET" th:action="@{/users}">
    <input type="submit" value="Return to All Users"/>
</form>
<br/>
<form th:method="GET" th:action="@{/users/{id}/edit(id=${user.getId()})}">
    <input type="submit" value="Do you need to update any Data?">
</form>
<br/>
<form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
    <input type="submit" value="Delete User">
</form>
</body>
</html>